/* navigation section  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/* Home section  */
#home{
    height: 370px;
    padding: 3px 68px;
}
#home::before{
    height: 580px;
}
#home p {
    font-size:  13px;
}
/* Services section  */
.services-container {
    margin-top: 66px;
}
#services{
    flex-direction: column;
    margin: 14px;

}
#services .box{
}
#services .box img{
    width: 220px
}

/* clients section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 50px;
    height: 50px;
    
}
.client-item{
    padding: 15px;
}
/* contact us section */

/* Footer  */
/* utility */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}


